In [210]:
# Import 
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import time

In [211]:
# Set the executable path and initialize Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
time.sleep(20)

# Step 1 - Scraping

## NASA Mars News
- Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [214]:


# Visit the mars nasa news site
#url = 'https://www.sircon.com/index.jsp/'
url= 'https://www.sircon.com/ComplianceExpress/Inquiry/consumerInquiry.do?nonSscrb=Y'
#url = 'https://www.sircon.com/ComplianceExpress/Inquiries/index.jsp?nonSscrb=Y&sscrbid=9999'
#url = 'https://www.sircon.com/ComplianceExpress/Inquiries/StsInq.jsp?entTypeCd=IL&srvcTypeCd=ILSTSQ'
browser.visit(url)
time.sleep(20)
# Delay for loading the page
#browser.is_element_present_by_css('div.list_text', wait_time=1)

In [215]:
# Convert the browser html to a soup object and find the latest title
element = browser.find_option_by_text('Georgia').first.click()
#element.click()

#browser.links.find_by_partial_text('Individual')[0].click()
# tit_par_elem = news_soup.select_one('div.list_text')
# tit_par_elem.find('div', class_='content_title')
# news_title = tit_par_elem.find('div', class_='content_title').get_text()
# news_title

In [219]:
#indiviual select
time.sleep(5)
type_element = browser.find_by_xpath('//*[@id="entityTypes"]/div[2]/input[2]').first
type_element.click()

In [220]:
#input name
# input_name=browser.find_by_xpath('//*[@id="individualInputGroup"]/div[2]/input')

# browser.fill('inquiriesInputText','John')
alpa_list=[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z]
for i in alpa_list:
    for j in alpa_list:
        name_city=i+j
input_element = browser.find_by_name('lastName')

input_element.fill('kim')
time.sleep(5)

In [221]:
#input city

input_element = browser.find_by_name('city')
input_element.fill('su')

In [241]:
#license type
license_element = browser.find_by_xpath('//*[@id="border"]/form[3]/div[6]/div[3]/select/option[21]').first
license_element.click()

ElementDoesNotExist: no elements could be found with xpath "//*[@id="border"]/form[3]/div[6]/div[3]/select/option[21]"

In [ ]:
#result 100
element = browser.find_option_by_text('100').first.click()
#//*[@id="resultsPerPage"]/select

In [243]:
#submit
submit_element=browser.find_by_id('submitButton').click()

In [244]:
time.sleep(30)

In [261]:
# Parse the HTML
html = browser.html
table_soup = soup(html,'html.parser')
# even=table_soup.find_all(class_='ResultTableTextEvenRow')
# odd=table_soup.find_all(class_='ResultTableTextOddRow')

# for i in range(len(even)):
#     all_column=even[i].find_all('td', class_='ResultTableTextColumn')
#     name=all_column[0].text
#     license_num=all_column[1].text
#     npn=all_column[5].text
#     city=all_column[6].text
#     state=all_column[7].text
#     name_link = even[i].find('td', class_='ResultTableTextColumn').a.get('href')
#     print(name)
    
elements = table_soup.select('tr[class*=ResultTableText]')    
licenser=[]
for i in range(len(elements)):
    all_column=elements[i].find_all('td', class_='ResultTableTextColumn')
    name=all_column[0].text.replace('\n', '')
    license_num=all_column[1].text.replace('\t', '').replace('\n', '').strip()
    npn=all_column[5].text.replace('\n', '').strip()
    city=all_column[6].text.replace('\n', '').strip()
    state=all_column[7].text.replace('\n', '').strip()
    name_link = elements[i].find('td', class_='ResultTableTextColumn').a.get('href')
    abs_link=f'https://www.sircon.com{name_link}'
    licenser_dic={}
    licenser_dic["Name"] =name
    licenser_dic["License_number"] =license_num
    licenser_dic["NPN"] =npn
    licenser_dic["City"] =city
    licenser_dic["State"] =state
    licenser_dic["Link"] =abs_link
#     for key, value in licenser_dic.items():
#         licenser_dic[key] = value.replace('\n', '')
    
    licenser.append(licenser_dic)
    
   
a=pd.DataFrame(licenser)    
a.head()
## Scraping
# name = hemi_soup.find('h2', class_='title').text
#name_link = table_soup.find('td').a.get('href')
#name_link=table_soup.find('td', class_='ResultTableTextColumn').a.get('href')
#name_name=table_soup.find_all('td', class_='ResultTableTextColumn')
# lic_num = hemi_soup.find('li').a.get('href')
# npn = hemi_soup.find('li').a.get('href')
# city = hemi_soup.find('li').a.get('href')
# state = hemi_soup.find('li').a.get('href')

#print(name_link)




# # Store findings into a dictionary and append to list
# hemispheres = {}
# hemispheres['img_url'] = f'https://marshemispheres.com/{img_url}'
# hemispheres['title'] = title
# hemisphere_image_urls.append(hemispheres)

# # Browse back to repeat
# browser.back()

,Name,License_number,NPN,City,State,Link
0,"KIM, CHLOE MIKYUNG",3365367,19716315,SUWANEE,GA,https://www.sircon.com/ComplianceExpress/Inqui...
1,"KIM, CHOON BOK",2917321,17035754,SUWANEE,GA,https://www.sircon.com/ComplianceExpress/Inqui...
2,"KIM, JANGHUN",3384616,19745722,SUWANEE,GA,https://www.sircon.com/ComplianceExpress/Inqui...
3,"KIM, JIHYUN",3259144,19165752,SUWANEE,GA,https://www.sircon.com/ComplianceExpress/Inqui...
4,"KIM, JINIL",3590274,20619650,SUWANEE,GA,https://www.sircon.com/ComplianceExpress/Inqui...

In [ ]:
#final
alpa_list=[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z]
licenser=[]
for i in alpa_list:
    for j in alpa_list:
        name_city=i+j
        input_element = browser.find_by_name('lastName')
        input_element.fill(name_city)
        time.sleep(5)
        
        input_element = browser.find_by_name('city')
        input_element.fill(name_city)
        
        #license type
        license_element = browser.find_by_xpath('//*[@id="border"]/form[3]/div[6]/div[3]/select/option[21]').first
        license_element.click()
        
        #result 100
        element = browser.find_option_by_text('100').first.click()
        #//*[@id="resultsPerPage"]/select
        
        #submit
        submit_element=browser.find_by_id('submitButton').click()
        
        # Parse the HTML
        html = browser.html
        table_soup = soup(html,'html.parser')
        # even=table_soup.find_all(class_='ResultTableTextEvenRow')
        # odd=table_soup.find_all(class_='ResultTableTextOddRow')

        # for i in range(len(even)):
        #     all_column=even[i].find_all('td', class_='ResultTableTextColumn')
        #     name=all_column[0].text
        #     license_num=all_column[1].text
        #     npn=all_column[5].text
        #     city=all_column[6].text
        #     state=all_column[7].text
        #     name_link = even[i].find('td', class_='ResultTableTextColumn').a.get('href')
        #     print(name)
    
        elements = table_soup.select('tr[class*=ResultTableText]')    
        
        for i in range(len(elements)):
            all_column=elements[i].find_all('td', class_='ResultTableTextColumn')
            name=all_column[0].text.replace('\n', '')
            license_num=all_column[1].text.replace('\t', '').replace('\n', '').strip()
            npn=all_column[5].text.replace('\n', '').strip()
            city=all_column[6].text.replace('\n', '').strip()
            state=all_column[7].text.replace('\n', '').strip()
            name_link = elements[i].find('td', class_='ResultTableTextColumn').a.get('href')
            abs_link=f'https://www.sircon.com{name_link}'
            licenser_dic={}
            licenser_dic["Name"] =name
            licenser_dic["License_number"] =license_num
            licenser_dic["NPN"] =npn
            licenser_dic["City"] =city
            licenser_dic["State"] =state
            licenser_dic["Link"] =abs_link
        #     for key, value in licenser_dic.items():
        #         licenser_dic[key] = value.replace('\n', '')

            licenser.append(licenser_dic)

licenser_df=pd.DataFrame(licenser)    
licenser_df.head()


        ## Scraping
        # name = hemi_soup.find('h2', class_='title').text
        #name_link = table_soup.find('td').a.get('href')
        #name_link=table_soup.find('td', class_='ResultTableTextColumn').a.get('href')
        #name_name=table_soup.find_all('td', class_='ResultTableTextColumn')
        # lic_num = hemi_soup.find('li').a.get('href')
        # npn = hemi_soup.find('li').a.get('href')
        # city = hemi_soup.find('li').a.get('href')
        # state = hemi_soup.find('li').a.get('href')

        #print(name_link)




        # # Store findings into a dictionary and append to list
        # hemispheres = {}
        # hemispheres['img_url'] = f'https://marshemispheres.com/{img_url}'
        # hemispheres['title'] = title
        # hemisphere_image_urls.append(hemispheres)

        # # Browse back to repeat
        # browser.back()

In [46]:
# Use the parent element to find the paragraph text
news_p = tit_par_elem.find('div', class_='article_teaser_body').get_text()
news_p

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

## JPL Mars Space Images - Featured Image

In [47]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [48]:
# Find and click the full image button
state_image_elem = browser.find_by_tag('button')[1]
state_image_elem.click()
type_image_elem = browser.find_by_tag('button')[1]
type_image_elem.click()

In [49]:
# Parsing
html = browser.html
img_soup = soup(html, 'html.parser')

In [50]:
# find the relative url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [51]:
# Create absolute url
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

## Mars Facts

In [52]:
# Vist URL and use Pandas to scrape the table containing facts  about the planet including Diameter, Mass, etc.
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [53]:
# convert the data to a HTML table string
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [54]:
# Visit the marshemispheres site
url = 'https://marshemispheres.com/'
browser.visit(url)

In [56]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Retrieve the image urls and titles for each hemisphere.
for i in range(4):
    # Browse through each article
    browser.links.find_by_partial_text('Hemisphere')[i].click()
    
    # Parse the HTML
    html = browser.html
    hemi_soup = soup(html,'html.parser')
    
    # Scraping
    title = hemi_soup.find('h2', class_='title').text
    img_url = hemi_soup.find('li').a.get('href')
    
    # Store findings into a dictionary and append to list
    hemispheres = {}
    hemispheres['img_url'] = f'https://marshemispheres.com/{img_url}'
    hemispheres['title'] = title
    hemisphere_image_urls.append(hemispheres)
    
    # Browse back to repeat
    browser.back()

In [57]:
# Quit browser
browser.quit()

In [58]:
# Print the list.
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]